* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#########################
###########################
######### MOBILE ##########
###########################
###########################
*/

/*#########################
  ######### BODY #########
###########################
*/
img {
	max-width: 100%;
}
body {
	height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	color: #292e47;
	background-color: #f2f4fc;
}

/*#########################
  ##### not displayed #####
###########################
*/
.not-mobile {
	display: none;
}
/*#########################
  ######### NAV #########
###########################
*/

body > section.nav {
	display: flex;
	justify-content: space-between;

	padding: 20px 30px;
}
/*#########################
######## LANDING  #########
###########################
*/
body > section.landing {
	display: flex;
	flex-direction: column;
	padding: 30px 30px;
	gap: 40px;
}
body > section.landing > h1 {
	font-size: 2.3rem;
}
body > section.landing > div.container-landing {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
body > section.landing > div.container-landing > div.text-light {
	color: #6b708d;
	font-size: 1.3rem;
	font-weight: 500;
}
body > section.landing > div.container-landing > div.text {
	font-size: 1.3rem;
}
body > section.landing > div.container-landing > div.text > span {
	color: #6b708d;
}
body > section.landing > img {
	height: 440px;
	box-shadow: -1px 1px 51px 0px rgba(247, 9, 9, 0.48);
	-webkit-box-shadow: -1px 1px 51px 0px rgba(247, 9, 9, 0.48);
	-moz-box-shadow: -1px 1px 51px 0px rgba(247, 9, 9, 0.48);
}
body > section.landing > div.paragraphs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 50px;
}
body > section.landing > div.paragraphs > p {
	line-height: 150%;
	font-size: 1.3rem;
}

/*#########################
######## PROJECTS #########
###########################
*/
body > section.projects {
	padding: 0 30px;
	height: auto;
	padding-bottom: 50px;
}
body > section.projects > div.projects-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}
body > section.projects > div.projects-container > h2 {
	font-size: 1.9rem;
}
body > section.projects > div.projects-container > div.cards {
	display: flex;
	flex-direction: column;
	height: 100%;

	gap: 50px;
}

body
	> section.projects
	> div.projects-container
	> div.cards
	> div.container-card {
	display: flex;
	flex-direction: column;
	background-color: white;
	height: 100%;
	gap: 20px;
	max-width: 370px;
	max-height: 500px;
}
body
	> section.projects
	> div.projects-container
	> div.cards
	> div.container-card
	> div.project-image {
	width: 100%;
}
body
	> section.projects
	> div.projects-container
	> div.cards
	> div.container-card
	> div.project-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 30px;
	padding-left: 30px;
}
body
	> section.projects
	> div.projects-container
	> div.cards
	> div.container-card
	> div.project-content
	> div.project-title {
	font-size: 1.5rem;
	font-weight: bold;
}

body
	> section.projects
	> div.projects-container
	> div.cards
	> div.container-card
	> div.project-content
	> a {
	text-decoration: none;
	color: #072ac8;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 40px;
}
/*#########################
######## QUESTIONS #########
###########################
*/

body > section.questions {
	height: 500px;
	background-color: #ffc600;
	padding: 30px 30px;
}
body > section.questions > div.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}
body > section.questions > div.container > h1 {
	font-size: 1.8rem;
	padding-top: 20px;
}
body > section.questions > div.container > div.cta-subtitle {
	font-size: 1.2rem;
	text-align: center;
	color: #6b708d;
}
body > section.questions > div.container > div.form-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
body > section.questions > div.container > div.form-block > form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
body
	> section.questions
	> div.container
	> div.form-block
	> form
	> div.cta-textfield-wrapper {
	display: flex;
	font-size: 1.7rem;
	background-color: white;
	width: 230px;
	height: 80px;
	align-items: center;
}
body
	> section.questions
	> div.container
	> div.form-block
	> form
	> div.cta-textfield-wrapper
	> input {
	border: none;
	font-size: 1.2rem;
	width: 150px;
}
body
	> section.questions
	> div.container
	> div.form-block
	> form
	> div.cta-textfield-wrapper
	> div.textfield-icon {
	padding: 10px 20px;
	font-size: 2rem;
}
body > section.questions > div.container > div.form-block > form > input {
	width: 230px;
	height: 80px;
	background-color: #072ac8;
	color: #f2f4fc;
	font-size: 1.2rem;
}
/*#########################
######## FOOTER #########
###########################
*/
body > section.footer {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 30px;
}
body > section.footer > div.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
body > section.footer > div.container > div.footer-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	padding-top: 40px;
}
body
	> section.footer
	> div.container
	> div.footer-content
	> div.footer-content-logo {
	height: 50px;
	text-align: center;
}
body
	> section.footer
	> div.container
	> div.footer-content
	> div.footer-content-logo
	> img {
	width: 100px;
	height: 30px;
}
body
	> section.footer
	> div.container
	> div.footer-content
	> div.footer-content-address {
	line-height: 150%;
	width: 260px;
	text-align: center;
	color: #6b708d;
	font-size: 1.1rem;
}
body > section.footer > div.container > div.footer-links {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 50px;
	gap: 15px;
}
body > section.footer > div.container > div.footer-links > a {
	text-decoration: none;
	color: #072ac8;
	font-weight: 500;
}

/*#########################
###########################
######### DESKTOP #########
###########################
###########################
*/
/*#########################
###########################
####### MEDIA QUERY #######
###########################
###########################
*/
@media (min-width: 990px) {
	img {
		max-width: 600px;
	}
	/*#########################
  	##### not displayed #####
	###########################
	*/
	.not-mobile {
		display: block;
	}
	i.fa-solid {
		display: none;
	}
	a {
		text-decoration: none;
		color: #6b708d;
		font-weight: 500;
	}
	/*#########################
	######## NAV #########
	###########################
	*/
	body > section.nav {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		align-items: center;
		height: 60px;
		margin-left: auto;
		margin-right: auto;
		padding: 50px 0;
		max-width: 1100px;
	}
	body > section.nav > div > nav {
		display: flex;
		gap: 20px;
		font-size: 1.1rem;
	}
	body > section.nav > div.contact {
		width: 150px;
	}
	body > section.nav > div > a {
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #072ac8;
		color: #f2f4fc;
		width: 150px;
		height: 50px;
		text-align: center;
		font-size: 1.1rem;
	}
	/*#########################
######## LANDING  #########
###########################
*/
	body > section.landing {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		margin-top: 70px;
		display: flex;
		flex-direction: column;
	}
	body > section.landing > h1 {
		font-size: 4rem;
		padding-top: 0;
	}
	body > section.landing > img {
		max-width: 1100px;
		box-shadow: -1px 1px 51px 0px rgba(247, 9, 9, 0.48);
		-webkit-box-shadow: -1px 1px 51px 0px rgba(247, 9, 9, 0.48);
		-moz-box-shadow: -1px 1px 51px 0px rgba(247, 9, 9, 0.48);
	}
	body > section.landing > div.container-landing {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 0;
		width: 100%;
	}

	/*#########################
######## PROJECTS #########
###########################
*/
	body > section.projects > div.projects-container {
		display: flex;
		flex-direction: column;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		gap: 100px;
		padding-top: 50px;
		padding-bottom: 200px;
	}
	body > section.projects > div.projects-container > h2 {
		font-size: 2.5rem;
		padding-left: 0;
		margin-left: 0;
		width: 100%;
	}
	body
		> section.projects
		> div.projects-container
		> div.cards
		> div
		> div
		> img {
		max-width: 340px;
		min-height: 258.32px;
	}
	body > section.projects > div.projects-container > div.cards {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}
	body
		> section.projects
		> div.projects-container
		> div.cards
		> div.container-card {
		height: 450px;
	}
	/*#########################
######## QUESTIONS #########
###########################
*/
	body > section.questions {
		max-width: 1250px;
		margin-left: auto;
		margin-right: auto;
		max-height: 500px;
	}

	body > section.questions > div.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		justify-content: center;
	}
	body > section.questions > div.container > h1 {
		font-size: 2.5rem;
	}
	body > section.questions > div.container > div.cta-subtitle {
		padding-bottom: 30px;
	}
	body > section.questions > div.container > div.form-block > form {
		display: flex;
		flex-direction: row;
	}
	body
		> section.questions
		> div.container
		> div.form-block
		> form
		> div.cta-textfield-wrapper {
		width: 400px;
	}
	/*#########################
######## FOOTER #########
###########################
*/
	body > section.footer {
		height: 200px;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}
	body > section.footer > div.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	body > section.footer > div.container > div.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 0;
	}
	body
		> section.footer
		> div.container
		> div.footer-content
		> div.footer-content-address {
		text-align: left;
	}
	body
		> section.footer
		> div.container
		> div.footer-content
		> div.footer-content-logo {
		width: 100%;
		text-align: left;
	}

	body > section.footer > div.container > div.footer-links {
		display: flex;
		gap: 50px;
		max-width: 350px;
		flex-wrap: wrap;
		padding: 0 0;
	}
}
