* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

img {
	max-width: 100%;
}

/*#########################
###########################
######### MOBILE ##########
###########################
###########################
*/

/*#########################
  ######### BODY #########
###########################
*/
body {
	height: 100vh;
	display: grid;
	grid-template-areas:
		"nav"
		"hero"
		"logos"
		"projects"
		"testimonial"
		"questions"
		"footer";
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #292e47;
	background-color: #f2f4fc;
}
/*#########################
  ##### not displayed #####
###########################
*/

.not-mobile {
	display: none;
}

/*#########################
  ######### NAV #########
###########################
*/
body > section.nav {
	display: flex;
	justify-content: space-between;
	grid-area: "nav";
	padding: 20px 30px;
}
/*#########################
  ######### HERO #########
###########################
*/

body > section.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	padding: 20px 30px;
}
body > section.hero > div.container {
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
}
body > section.hero > div.container > div.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
body > section.hero > div.container > div.hero-content > div.hero-buttons {
	text-decoration: none;
	display: flex;
	flex-direction: column-reverse;
}
body > section.hero > div.container > div.hero-content > div.text-block {
	color: #6b708d;
	font-size: 1.1rem;
}
body > section.hero > div.container > div.hero-content > div.hero-buttons > a {
	text-decoration: none;
	color: #6b708d;
}
body
	> section.hero
	> div.container
	> div.hero-content
	> div.hero-buttons
	> a.blue1 {
	background-color: #072ac8;
	color: #f2f4fc;
	line-height: 50px;
	width: 150px;
	text-align: center;
	font-size: 1.1rem;
}
body
	> section.hero
	> div.container
	> div.hero-content
	> div.hero-buttons
	> a.white1 {
	line-height: 50px;
	font-size: 1.1rem;
}
body > section.hero > div.container > div.images {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*#########################
  ######### LOGOS #########
###########################
*/
body > section.logos {
	padding: 20px 30px;
	height: 30vh;
}
body > section.logos > div.container-logos > div.grid-logos {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	padding-top: 50px;
	align-content: center;
	justify-items: center;
	width: 100%;
	gap: 20px;
	height: 100%;
}
body > section.logos > div.container-logos > div.grid-logos > div.client-logo {
	max-width: 120px;
	max-height: 96px;
	text-align: center;
	padding: 20px 0px;
}
body
	> section.logos
	> div.container-logos
	> div.grid-logos
	> div.client-logo
	> img {
	width: 100%;
}
