* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#########################
###########################
######### MOBILE ##########
###########################
###########################
*/

/*#########################
  ######### BODY #########
###########################
*/
img {
	max-width: 100%;
}
body {
	height: 100vh;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	color: #292e47;
	background-color: #f2f4fc;
}

/*#########################
  ##### not displayed #####
###########################
*/
.not-mobile {
	display: none;
}
/*#########################
  ######### NAV #########
###########################
*/

body > section.nav {
	display: flex;
	justify-content: space-between;

	padding: 20px 30px;
}
/*#########################
######## FORM #########
###########################
*/
body > section.formulario {
	display: flex;
	flex-direction: column;
	padding: 30px 30px;
	gap: 30px;
}
body > section.formulario > h1 {
	font-size: 2.2rem;
}
body > section.formulario > form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
body > section.formulario > form > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
body > section.formulario > form > div > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
input {
	border: none;
	background-color: rgba(107, 112, 141, 0.1);
	min-width: 354px;
	height: 70px;
	padding-left: 15px;
	font-size: 1rem;
}
label {
	color: #6b708d;
	font-size: 1.3rem;
}
form > div > textarea.text {
	background-color: rgba(107, 112, 141, 0.1);
	border: none;
	padding-left: 15px;
	min-height: 200px;
	font-size: 1.1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding-top: 10px;
}
button {
	background-color: #072ac8;
	color: #f2f4fc;
	line-height: 80px;
	min-width: 354px;
	text-align: center;
	font-size: 1.1rem;
	margin-top: 15px;
}
/*#########################
######## FOOTER #########
###########################
*/
body > section.footer {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px 30px;
}
body > section.footer > div.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
body > section.footer > div.container > div.footer-content {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	padding-top: 40px;
}
body
	> section.footer
	> div.container
	> div.footer-content
	> div.footer-content-logo {
	height: 50px;
	text-align: center;
}
body
	> section.footer
	> div.container
	> div.footer-content
	> div.footer-content-logo
	> img {
	width: 100px;
	height: 30px;
}
body
	> section.footer
	> div.container
	> div.footer-content
	> div.footer-content-address {
	line-height: 150%;
	width: 260px;
	text-align: center;
	color: #6b708d;
	font-size: 1.1rem;
}
body > section.footer > div.container > div.footer-links {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 50px;
	gap: 15px;
}
body > section.footer > div.container > div.footer-links > a {
	text-decoration: none;
	color: #072ac8;
	font-weight: 500;
}
/*#########################
###########################
######### DESKTOP #########
###########################
###########################
*/
/*#########################
###########################
####### MEDIA QUERY #######
###########################
###########################
*/
@media (min-width: 990px) {
	body {
		overflow-x: hidden;
	}
	img {
		max-width: 600px;
	}
	/*#########################
  	##### not displayed #####
	###########################
	*/
	.not-mobile {
		display: block;
	}
	i.fa-solid {
		display: none;
	}
	a {
		text-decoration: none;
		color: #6b708d;
		font-weight: 500;
	}
	/*#########################
	######## NAV #########
	###########################
	*/

	body > section.nav {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		align-items: center;
		height: 60px;
		margin-left: auto;
		margin-right: auto;
		padding: 50px 0;
		max-width: 1100px;
	}
	body > section.nav > div > nav {
		display: flex;
		gap: 20px;
		font-size: 1.1rem;
	}
	body > section.nav > div.contact {
		width: 150px;
	}
	body > section.nav > div > a {
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #072ac8;
		color: #f2f4fc;
		width: 150px;
		height: 50px;
		text-align: center;
		font-size: 1.1rem;
	}
	/*#########################
######## FORM #########
###########################
*/
	body > section.formulario {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		margin-top: 180px;
		margin-bottom: 150px;

		padding-left: 0;
	}
	body > section.formulario > h1 {
		font-size: 3.5rem;
	}
	body > section.formulario > form {
		width: 100%;
	}
	body > section.formulario > form > div.row-text {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
	body > section.formulario > form > div.row-text > div > input {
		width: 530px;
		padding-left: 15px;
	}
	body > section.formulario > form > div > input {
		width: 1070px;
	}
	body > section.formulario > form > button {
		border: none;
		width: 1070px;
	}

	/*#########################
######## FOOTER #########
###########################
*/
	body > section.footer {
		height: 200px;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}
	body > section.footer > div.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	body > section.footer > div.container > div.footer-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 0;
	}
	body
		> section.footer
		> div.container
		> div.footer-content
		> div.footer-content-address {
		text-align: left;
	}
	body
		> section.footer
		> div.container
		> div.footer-content
		> div.footer-content-logo {
		width: 100%;
		text-align: left;
	}

	body > section.footer > div.container > div.footer-links {
		display: flex;
		gap: 50px;
		max-width: 350px;
		flex-wrap: wrap;
		padding: 0 0;
	}
}
